
*
{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    overflow-x: hidden;
    background-color: floralwhite;
    min-height: 200vh;
}
#header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(46, 39, 39);
}
#header #mainlogo{
    color: whitesmoke;
    font-weight: 900;
    font-size: 2em;
    text-decoration: none;
}
#header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em; 
}
#header ul li{
 list-style: none;
 padding-left: 1em;   
}
#header ul li a{
    color: whitesmoke;
    text-decoration: none;
    padding: 6px 13px;
}
#header ul li a:hover{
    color: black;
    background-color: white;
    border-radius: 10px;
}
