
*
{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    overflow-x: hidden;
    background-color: floralwhite;
    min-height: 200vh;
}
#header{
  position: fixed;
  background-color: rgb(46, 39, 39);
  width: 100%;
  height: 300px;
  display: block;
}
#header-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 50%;
    margin: 25px auto;
    
}
#header.red{
    height: 100px;
}
#header #mainlogo{
    color: whitesmoke;
    font-weight: 900;
    font-size: 2em;
    text-decoration: none;
}
#header ul{
    display: inline-flex;
    font-size: 1.5em; 
    margin-left: 20px;
}
#header ul li{
 list-style: none;
 margin-left: 10px; 
}
#header ul li a{
    color: whitesmoke;
    text-decoration: none;
    padding: 6px 13px;
}
#header ul li a:hover{
    color: black;
    background-color: white;
    border-radius: 10px;
}
#headbutton{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    padding: 10px;
    margin-left: 30px;
}

